In [1]:
import risktools as rt
from pandas_datareader import data

In [7]:
import requests
import json
import yfinance as yf

In [8]:
yf.download(["SPY", "AAPL"], start="2000-01-01", end="2012-01-01")

[*********************100%%**********************]  2 of 2 completed

            Adj Close                  Close                   High  \
                 AAPL         SPY       AAPL         SPY       AAPL
Date
2000-01-03   0.848323   94.262558   0.999442  145.437500   1.004464
2000-01-04   0.776801   90.576332   0.915179  139.750000   0.987723
2000-01-05   0.788168   90.738335   0.928571  140.000000   0.987165
2000-01-06   0.719961   89.280060   0.848214  137.750000   0.955357
2000-01-07   0.754065   94.465073   0.888393  145.750000   0.901786
...               ...         ...        ...         ...        ...
2011-12-23  12.226610  101.566978  14.404643  126.389999  14.413929
2011-12-27  12.323616  101.647354  14.518929  126.489998  14.610357
2011-12-28  12.205693  100.313347  14.380000  124.830002  14.580357
2011-12-29  12.280873  101.350006  14.468571  126.120003  14.487500
2011-12-30  12.277236  100.851776  14.464286  125.500000  14.510000

                              Low                   Open              \
                   SPY       AAPL         SPY       AAPL         SPY
Date
2000-01-03  148.250000   0.907924  143.875000   0.936384  148.250000
2000-01-04  144.062500   0.903460  139.640625   0.966518  143.531250
2000-01-05  141.531250   0.919643  137.250000   0.926339  139.937500
2000-01-06  141.500000   0.848214  137.750000   0.947545  139.625000
2000-01-07  145.750000   0.852679  140.062500   0.861607  140.312500
...                ...        ...         ...        ...         ...
2011-12-23  126.430000  14.267500  125.410004  14.274643  125.669998
2011-12-27  126.820000  14.393571  126.059998  14.396429  126.169998
2011-12-28  126.529999  14.333571  124.730003  14.531786  126.510002
2011-12-29  126.250000  14.303929  124.860001  14.407143  125.239998
2011-12-30  126.330002  14.410357  125.500000  14.411071  126.019997

               Volume
                 AAPL        SPY
Date
2000-01-03  535796800    8164300
2000-01-04  512377600    8089800
2000-01-05  778321600   12177900
2000-01-06  767972800    6227200
2000-01-07  460734400    8066500
...               ...        ...
2011-12-23  269399200   92187200
2011-12-27  265076000   86075700
2011-12-28  228662000  119107100
2011-12-29  215978000  123507200
2011-12-30  179662000   95599000

[3019 rows x 12 columns]

In [32]:
import os
import pandas as pd

In [4]:
data.DataReader(name=["SPY", "AAPL"], data_source="yahoo", start="2000-01-01", end="2012-01-01")

TypeError: string indices must be integers