In [2]:
%load_ext autoreload
%autoreload 2
import risktools as rt
from pandas_datareader import data
import json
import os
import pandas as pd

{'tradeDate': ['2023-08-18'], 'settleDate': ['2023-08-20'], 'dt': [0.0833], 'interpWhat': ['discount'], 'interpHow': ['spline']}

'2A8ht8q9qIj5WW1gaygGHPVwoJAPCxcUFtVn9uTk'

In [3]:
def _load_json(fn, dataframe=True):
    # path = os.path.dirname(__file__)
    fp = os.path.join(fn)
    with open(fp) as js:
        if dataframe == True:
            df = pd.read_json(js)
            df.columns = df.columns.str.replace(".", "_")
        else:
            df = json.load(js)

    return df

In [11]:
rt.get_eia_df(
        ["PET.W_EPC0_SAX_YCUOK_MBBL.W", "NG.NW2_EPG0_SWO_R48_BCF.W"], key=os.getenv('EIA')
    )

,date,value,table_name,series_id
0,2023-09-22,21958,"Cushing, OK Ending Stocks excluding SPR of Cru...",PET.W_EPC0_SAX_YCUOK_MBBL.W
1,2023-09-15,22901,"Cushing, OK Ending Stocks excluding SPR of Cru...",PET.W_EPC0_SAX_YCUOK_MBBL.W
2,2023-09-08,24965,"Cushing, OK Ending Stocks excluding SPR of Cru...",PET.W_EPC0_SAX_YCUOK_MBBL.W
3,2023-09-01,27415,"Cushing, OK Ending Stocks excluding SPR of Cru...",PET.W_EPC0_SAX_YCUOK_MBBL.W
4,2023-08-25,29165,"Cushing, OK Ending Stocks excluding SPR of Cru...",PET.W_EPC0_SAX_YCUOK_MBBL.W
...,...,...,...,...
712,2010-01-29,2406,Weekly Lower 48 States Natural Gas Working Und...,NG.NW2_EPG0_SWO_R48_BCF.W
713,2010-01-22,2521,Weekly Lower 48 States Natural Gas Working Und...,NG.NW2_EPG0_SWO_R48_BCF.W
714,2010-01-15,2607,Weekly Lower 48 States Natural Gas Working Und...,NG.NW2_EPG0_SWO_R48_BCF.W
715,2010-01-08,2850,Weekly Lower 48 States Natural Gas Working Und...,NG.NW2_EPG0_SWO_R48_BCF.W
716,2010-01-01,3117,Weekly Lower 48 States Natural Gas Working Und...,NG.NW2_EPG0_SWO_R48_BCF.W